.central-header-content-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 98vw;
    margin: 0 auto;
}

.header-button {
    background-color: #cd3d3c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease .3s;
    user-select: none;
}

.header-button:hover {
    background-color: #d45050;
}


.table-container-add {
    flex: 1;
    min-width: 35vw;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 1.5rem;
    transition: all ease .3s;
    margin-top: 15vh;
}

.header-nav-bar {
    color: aliceblue;
    font-size: 20px;
    user-select: none;
}

.header-nav-bar:hover {
    color: #cd3d3c;
}

textarea {
    resize: none;
}

select.user-input {
    color: aliceblue;
    background-color: #222222;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0.4rem;
}

select.user-input:focus {
    outline: none;
    border-color: #cd3d3c;
    box-shadow: 0 0 0 0.125em #222222;
}